 @model List<TasklarViewModel>

@{
    ViewData["Title"] = "Görevler";
}

<div class="container mt-4">
    <h1 class="mb-4">@ViewData["Title"]</h1>

    

    <div class="card">
        <div class="card-body">
            <table class="table table-striped table-bordered table-hover table-sm">
                <thead class="table-light">
                    <tr>
                        <th>Görev Adı</th>
                        <th>Açıklama</th>
                        <th>Proje</th>                        
                        <th>Yorum</th>                        
                        <th>Oluş. Tarihi</th>
                        <th>Durum</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var tasklar in Model)
                    {
                        <tr>
                            <td>@(tasklar.Title)</td>
                            <td style="max-width: 200px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                <span title="@tasklar.TaskDescription">@tasklar.TaskDescription</span>
                            </td>
                            <td>
                                @((ViewBag.Projects as List<SelectListItem>)
                                    .FirstOrDefault(p => p.Value == tasklar.ProjectId.ToString())?.Text ?? "-")
                            </td>
                            
                            <td>@tasklar.TaskComment</td>
                           
                            <td>@tasklar.CreatedAt</td>
                            <td>
                                @if (tasklar.StatusId == 1)
                                {
                                    <span class="badge bg-danger text-dark">Bekliyor</span>
                                }
                                else if (tasklar.StatusId == 2)
                                {
                                    <span class="badge bg-primary">Devam Ediyor</span>
                                }
                                else if (tasklar.StatusId == 3)
                                {
                                    <span class="badge bg-success">Tamamlandı</span>
                                }
                                else
                                {
                                    <span class="badge bg-secondary">Bilinmiyor</span>
                                }
                            </td>                            
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
